/**
 * Hide Nextcloud slogan/payoff on login page
 * 
 * This CSS file is loaded when the admin has enabled the "Hide slogan" setting
 * in the NL Design System Theme admin panel.
 */

/* Hide the footer.guest-box that contains the payoff/slogan */
footer.guest-box,
#body-login footer.guest-box,
body.body-login-container footer.guest-box {
	display: none !important;
	visibility: hidden !important;
}


