/**
 * NL Design System - Amsterdam Logo
 * 
 * Coat of arms for the municipality of Amsterdam
 */

/* Amsterdam coat of arms */
#nextcloud::before {
	content: '' !important;
	display: block !important;
	width: 32px !important;
	height: 40px !important;
	background-image: url('../img/amsterdam-logo.svg') !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	text-indent: 0 !important;
}
