/**
 * NL Design System - Den Haag Logo
 * 
 * Coat of arms for the municipality of Den Haag (The Hague)
 */

/* Den Haag coat of arms */
#nextcloud::before {
	content: '' !important;
	display: block !important;
	width: 34px !important;
	height: 40px !important;
	background-image: url('../img/denhaag-logo.svg') !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	text-indent: 0 !important;
}
