/**
 * NL Design System - Rijkshuisstijl Logo
 * 
 * Logo for the national government (Nederland map)
 */

/* Nederland map icon (larger, centered, proper aspect ratio) */
#nextcloud::before {
	content: '' !important;
	display: block !important;
	width: 28px !important;
	height: 36px !important;
	background-image: url('../img/nederland-map.svg') !important;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	text-indent: 0 !important;
}
