parameters:
    level: 6
    paths:
        - lib
    bootstrapFiles:
        - phpstan-bootstrap.php
    stubFiles:
        - stubs/nextcloud-theming.php
    scanFiles:
        - stubs/nextcloud-theming.php
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: true
